<div class="alert alert-info" role="alert">
<h5>Remaining credits</h5>
<p>Credits needed to complete a CS program.</p>
<hr>

<div *ngFor="let block of blocks"> 
    <div *ngIf="block.type !== 4; else notUsed">        
        <p>{{block.type}} - <strong>{{block.name}}:</strong> {{block.credits}} hp</p>      
    </div>
    <ng-template #notUsed>
        <hr>
        <p>{{block.type}} - <strong>{{block.name}}:</strong> {{notUsedCredits(block.credits)}} hp</p> 
    </ng-template>
    </div>
</div>

