
  <!-- Page Header -->
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>LNU Credits Calculator for the Tech Faculty</h1>
            <h2 class="subheading">What do you need or want to fly solo</h2>
            <span class="meta">Posted on August 22, 2019</span>
          </div>
        </div>
    </div>
    </div>
  </header>
  <hr>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> If for whatever the reason you cannot follow the courses programmed from LNU - Computer Science, you don't need to give up. 
            If you fullfill some requirements, you can still get a diploma in Computer Science (but without the fancy title). 
          </p>       
            <h4>The requirements in credits</h4>
         <ul>
             <li> 90 credits in Computer Science <i>DV -> Datavetenskap</i></li>
             <ul>
                 <li>At least 2 courses in advance level <strong>2dv###</strong>. The final project is included in this section.</li>
             </ul>
             <li>90 credits free standing</li>
             <ul>
                 <li>30 credits must NOT be from computer science <strong>NO #dv###</strong> </li>
                 <li>60 credits in whatever you want, including computer science.</li>
             </ul>
         </ul>

         <p>
            The requirements were given by the person in charge of the programs in that moment. 
            I always recommend to <strong>talk with the responsible person at that moment and/or  the student counselor</strong>
            before taking any action. This web is just orientative and not official. 
         </p>          
         <p>
             I'm just a student poor and noob. Did I help you? Help me! Buy me a coffee!!! 
         </p>
         <a href='https://ko-fi.com/L3L8118YI' target='_blank'><img height='36' style='border:0px;height:36px;' 
            src='https://az743702.vo.msecnd.net/cdn/kofi2.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
         
        </div>
      </div>
    </div>
  </article>
<hr>